*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --clr-icons: #929292;
    /* --clr-text: #fff; */
    /* --clr-text: #fffcf2; */
    /* --clr-text: #f9f5f4; */
    --clr-text: #04050a;
    --clr-text-dm: #f9f5f4;

    /* --clr-bg-dark: #242424; */
    /* --clr-bg-dark: #252422; */
    /* --clr-bg-dark: #04050a; */
    --clr-bg-dark: #f9f5f4;

    /* --clr-bg-light: #3b3b3b; */
    /* --clr-bg-light: #403d39; */
    /* --clr-bg-light: #3f3d3a; */
    --clr-bg-light: #7c7872;

    /* --clr-accent: #ff7600; */
    --clr-accent: #e43755;
    /* --clr-accent: #ca5166;/#ec7388; */
}
/* :root[color-mode="light"] {
    --clr-text: #04050a;
    --clr-accent: #e43755;
    --clr-bg-light: #f9f5f4;
    --clr-bg-featured: #7c7872;

    :root[color-mode="dark"] {
    --clr-text: #f9f5f4;
    --clr-bg-dark: #04050a; 
    --clr-accent: #ec7388;
    --clr-bg-featured: #a3a19c;
    }
    
}*/


body {
    margin: 1em;
    background-color: var(--clr-bg-dark);
    color: var(--clr-text);
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Domine', serif;
    font-weight: normal;
}
img {
    max-width: 100%;
}

a.logo {
    text-decoration: none;
    color: var(--clr-text);
    font-size: 2rem;
}

a.logo:hover,
a.logo:focus {
    opacity: 0.5;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    background: transparent;
    color: var(--clr-text);
    font-size: 1.4rem;
    font-family: 'Domine', serif;
    font-weight: 500;
    padding: .5em;
    position: relative;
    align-self: start;
    justify-self: start;
}

.btn::after {
    content: '';
    position: absolute;
    background: var(--clr-accent);
    height: .85em;
    width: 75%;
    left: 0;
    top: 50%;
    z-index: -1;
    transition: transform 175ms cubic-bezier(.91, 0, .55, 1.64);;
    transform-origin: bottom left;
}

.btn:hover::after,
.btn:focus::after {
    transform: scale(1.35, 1.85);
}

.title {
    color: var(--clr-accent);
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 2rem;
    line-height: 1;
    font-size: clamp(3rem, 10vw, 12rem);
}

header {
    display: flex;
    align-items: center;
    margin: 2em 0;
}

.nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
}

.nav__link {
    color: var(--clr-text);
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav__link:hover,
.nav__link:focus {
    color: var(--clr-text-dm);
}

.primary-image {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.secondary-images {
    display: flex;
    gap: 0.5em;
    max-width: 40%;
}

footer {
    margin-top: 2em;
}

.social-links {
    display: flex;
    gap: 2em;
}

.social-link {
    color: var(--clr-accent); 
    font-size: 1.7rem;
}

.social-link:hover,
.social-link:focus {
    opacity: 0.5;
}

.show-sm {
    display: none;
}

/* hamburger menu styles  */
.hamburger-button {
    cursor: pointer;
    padding: 0.5rem;
    display: inline-block;
    font-weight: 200;
    font-size: 2.5rem;
    line-height: 0.8;
    position: fixed;
    right: 3%;
    top: 2rem;
    z-index: 4;
  }

  .hamburger-button.active {
    color: white;
  }
  
  .mobile-menu {
    display: none; 
    background-color: var(--clr-bg-light);
    padding: 5%;
    position: fixed; 
    z-index:3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 4rem;
  }
  
  .mobile-menu a {
    text-decoration: none; 
    color: inherit; 
    padding: 4%;
    display: block;
    font-weight: normal;
  }

  .mobile-menu a:hover {
    color: var(--clr-accent);
  }

@media (min-width:768px) {
    body {
        margin:0;
    }

    .main-grid {
        display: grid;
        grid-template-columns: 
        minmax(1em, 1fr)
        repeat(2, minmax(15rem, 35rem))
        minmax(5rem, 10rem)
        minmax(1em, 1fr);
        gap: 2em;
        position: relative;
    }

    header {
        grid-column: 2 / 5;
        display: grid;
        grid-template-columns: subgrid;
    }

    .nav {
        grid-column: 2 / 5;
    }
 
    main {
        grid-column: 2 / -1;
        display: grid;
        grid-template-columns: subgrid;
        grid-auto-rows: min-content;
        grid-auto-flow: dense;
        padding-bottom: 2em;
    }

    main::after {
        content: '';
        position: absolute;
        background-color: var(--clr-bg-light);
        top: 0;
        bottom: 0;
        left: -2em;
        right: -2em;
        grid-column: 3 / 5;
        z-index: -10;
    }

    .title {
        grid-column: 1 / 3;
        grid-row: 1;
    }
   
    .description {
        grid-column: 1 / 2;
        margin-right: 1em;
    }

    .primary-image {
        grid-column: 2 / -1;
        grid-row: 1 / span 2;
        z-index: -1;
        height: 100%;
        max-height: 600px;
        width: min(100%, 1000px);
        object-fit: cover;
    }
    
    .secondary-images {
        grid-column: 2 / 4; 
        margin-top: 4em;
    }

    footer {
        grid-column: 2 / 3;
    }
}

@media(min-width: 1200px) {
    main::after {
        grid-column: 3 / 4;
    }

    .nav,
    .secondary-images {
        grid-column: 2 /3 ;
    }
}

@media(max-width: 48em) {
    .show-sm {display: block;}
    .hide-sm {display: none;}
}

/* Dark mode toggle */
/* .dark-mode{
    text-align: right;
    position: fixed;
    cursor: pointer;
    right: 9rem;
    top: 2.7rem;
    z-index: 4;
  }

  .toggle-container{
    display: inline-block;
    position: fixed;
    text-align: left;
    background-color: #252422;
    height: 1.8rem;
    width: 3.6rem;
    border-radius: 1.5rem;
    padding: 0.2rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, 
                rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  
  .toggle-ball {
    display: inline-block;
    height: 1.4rem;
    width: 1.4rem;
    background-color: white;
    border-radius: 2rem;
  }
  
  .toggle-container.dark-mode-active{
    background-color: #d6ccc2;
    text-align: right;
    box-shadow: rgba(255, 255, 255, 0.3) 0px 19px 38px, 
                rgba(255, 255, 255, 0.22) 0px 15px 12px;
  } */
  
  /* Dark Mode Active */
  
  /* .dark-mode-active {
     background-color: #04050a;  
     color: #f9f5f4;
  }
  
.dark-mode-active .btn {
    color: #f9f5f4;
}

.dark-mode-active .btn::after{
    background-color: #ec7388;
}
  
.dark-mode-active h1 {
    color: #ec7388;
}

.dark-mode-active .social-link:hover,
.social-link:focus {
   color: #f9f5f4;
}
  
.dark-mode-active .reduce-brightness-filter{
    filter: brightness(0.6) saturate(1.25); 
} */